<header>
  <nav>
    <div class="search">
      <form action="/search" method="POST" class="form-inline md-form form-sm active-cyan-2 mt-2">
        <div class="ui input">
          <input type="text" name="search" placeholder="Search..." />
        </div>
        <i class="fas fa-search-location"></i>
        <button class="ui basic button login">Search</button>
      </form>
    </div>

    <div id="buttons ">
      <button class="ui basic button login hi">Login</button>
      <button class="ui basic button signup">Sign up</button>
    </div>
  </nav>
</header>
